* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}
html, body, #root, .App {
 height: 100%;
}

.App, .App-body, .App-home {
 height: 100%;
 position: relative;
}


.App-home {
}
.App-home h1 {
 position: absolute;
 left: 0;
 top: 10px;
 width: 100%;
 text-align: center;
 text-transform: uppercase;
 font-size: 24px;
 font-weight: 100;
 color: #5a4a42;
}
.App-home .logo-box {
 position: absolute;
 width: 100%;
 left: 0;
 top: 50%;
 margin-top: -299px;
 text-align: center;
}
.App-home .logo-box img {
}
.App-home .Menu {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 background: #5a4a42;
 padding: 10px 0 20px;
}
.App-home .Menu .logo {
 display: none;
}
.App-home .Menu button {
 display: none;
}
.App-home .Menu ul {
 list-style: none;
 display: flex;
}
.App-home .Menu li {
 display: inline-block;
 flex: 1;
 font-size: 18px;

 text-align: center;
}
.App-home .Menu a {
 color: #FFF;
 text-decoration: none;
}
.App-home .Menu a:hover {
 color: #d1cf00;
}


.App-body header {
 position: fixed;
 z-index: 100;
 background: #5a4a42;
 top: 0;
 left: 0;
 right: 0;
 height: 40px;
}
.App-body header h1 {
 text-align: center;
 font-size: 24px;
 line-height: 40px;
 color: #fff;
 font-weight: 100;
 text-transform: uppercase;
}

.App-body .Menu {
 position: absolute;
 z-index: 101;
 left: 0;
 right: 0;
 top: 0;
 text-align: right;
}
.App-body .Menu .logo {
 position: absolute;
 left: 12px;
 top: 4px;
 width: 24px;
 height: 32px;
}
.App-body .Menu .logo a {
 display: block;
 width: 100%;
 height: 100%;
}
.App-body .Menu .logo img {
 display: block;
 width: 24px;
 height: 32px;
}
.App-body .Menu button {
 -webkit-appearance: none;
 display: inline-block;
 border: 0;
 background: 0;
 width: 30px;
 height: 23px;
 margin-top: 8px;
 margin-right: 20px;
 position: relative;
 transform: rotate(0deg);
 transition: .5s ease-in-out;
 cursor: pointer;
 outline: none;
}
.App-body .Menu button span {
 display: block;
 position: absolute;
 height: 4px;
 width: 100%;
 background: #fff;
 border-radius: 4px;
 opacity: 1;
 left: 0;
 transform: rotate(0deg);
 transition: .25s ease-in-out;
}
.App-body .Menu button span:nth-child(1) {
 top: 0;
}
.App-body .Menu button span:nth-child(2),
.App-body .Menu button span:nth-child(3) {
 top: 9px;
}
.App-body .Menu button span:nth-child(4) {
 top: 18px;
}
.App-body .Menu.active button span:nth-child(1) {
 top: 9px;
 width: 0;
 left: 50%;
}
.App-body .Menu.active button span:nth-child(2) {
 transform: rotate(45deg);
}
.App-body .Menu.active button span:nth-child(3) {
 transform: rotate(-45deg);
}
.App-body .Menu.active button span:nth-child(4) {
 top: 9px;
 width: 0;
 left: 50%;
}

.App-body .Menu ul {
 position: absolute;
 right: 0;
 top: 40px;
 min-width: 250px;
 background: rgba(255,255,255,.9);
 box-shadow: -2px 2px 3px rgba(0,0,0,.6);
 visibility: hidden;
 opacity: 0;
 list-style: none;
 text-align: left;
 transition: .25s ease-in-out;
}
.App-body .Menu ul li {
 font-size: 18px;
 padding: 6px 20px;
}
.App-body .Menu ul li a {
 text-decoration: none;
 color: #000;
}
.App-body .Menu ul li a:hover {
 color: #666;
}
.App-body .Menu ul li.selected {
 /*background: #eee;*/
 font-style: italic;
}
.App-body .Menu ul li.selected a {
 /*color: #fff;*/
}
.App-body .Menu.active ul {
 visibility: visible;
 opacity: 1;
}

.App-body > .Chart {
 position: absolute;
 z-index: 1;
 left: 0;
 top: 40px;
 right: 0;
 bottom: 0;
}

.PieBox {
 display: flex;
}
.PieBox .Pie {
 height: 100%;
 flex: 1;
}
.PieBox .PieLabels {
 background: #FFF;
 padding: 16px 0;
 width: 360px;
 flex: none;
}
.PieBox .PieLabels ul {
 list-style: none;
}
.PieBox .PieLabels ul li {
 padding: 0 0 20px;
}
.PieBox .PieLabels ul li .marker {
}
.PieBox .PieLabels ul li .title {
 display: flex;
}
.PieBox .PieLabels ul li .title i {
 display: inline-block;
 width: 30px;
 height: 30px;
 border: 1px #333 solid;
 box-sizing: border-box;
 align-self: flex-start;
}
.PieBox .PieLabels ul li .name {
 font-size: 24px;
 line-height: 30px;
 margin: 0 10px;
 align-self: baseline;
}
.PieBox .PieLabels ul li .percent {
 font-size: 16px;
 line-height: 30px;
 align-self: baseline;
}

.PieBox .PieLabels ul li .data {
 display: flex;
}
.PieBox .PieLabels ul li .value {
 font-size: 20px;
 line-height: 24px;
 margin-left: 40px;
 align-self: baseline;
}
.PieBox .PieLabels ul li .value .rubs {
 font-size: 16px;
}
.PieBox .PieLabels ul li .delta {
 font-size: 16px;
 line-height: 24px;
 margin-left: 10px;
 align-self: baseline;
}
.PieBox .PieLabels ul li .delta .good {
 color: #090;
}
.PieBox .PieLabels ul li .delta .good:before {
 content: "+";
}
.PieBox .PieLabels ul li .delta .bad {
 color: #D00;
}
.PieBox .PieLabels ul li .delta .bad:before {
 content: "-";
}

/*
.App {
 text-align: center;
}

.App-logo {
 animation: App-logo-spin infinite 20s linear;
 height: 80px;
}

.App-header {
 background-color: #222;
 height: 150px;
 padding: 20px;
 color: white;
}

.App-title {
 font-size: 1.5em;
}

.App-intro {
 font-size: large;
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}
*/
