* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}
html, body, #root {
 height: 100%;
}
html {
 /* overflow-y: scroll; */
}

.App, .App-body, .App-home {
 height: 100%;
 position: relative;
}

.App {
 height: 800px;
}


.App-home {
}
.App-home h1 {
 position: absolute;
 left: 0;
 top: 10px;
 width: 100%;
 text-align: center;
 text-transform: uppercase;
 font-size: 36px;
 font-weight: 100;
 color: #5a4a42;
}
.App-home .logo-box {
 position: absolute;
 width: 100%;
 left: 0;
 top: 50%;
 margin-top: -299px;
 text-align: center;
}
.App-home .logo-box img {
}
.App-home .Menu {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 background: #5a4a42;
 padding: 10px 0 20px;
}
.App-home .Menu .logo {
 display: none;
}
.App-home .Menu button {
 display: none;
}
.App-home .Menu ul {
 list-style: none;
 display: flex;
}
.App-home .Menu li {
 display: inline-block;
 flex: 1;
 font-size: 24px;

 text-align: center;
}
.App-home .Menu a {
 color: #FFF;
 text-decoration: none;
}
.App-home .Menu a:hover {
 color: #d1cf00;
}


.App-body header {
 position: fixed;
 z-index: 100;
 background: #5a4a42;
 top: 0;
 left: 0;
 right: 0;
 height: 50px;
}
.App-body header h1 {
 text-align: center;
 font-size: 24px;
 line-height: 50px;
 color: #fff;
 font-weight: 100;
 text-transform: uppercase;
}

.App-body .Menu {
 position: absolute;
 z-index: 101;
 left: 0;
 right: 0;
 top: 0;
 text-align: right;
}
.App-body .Menu .logo {
 position: absolute;
 left: 20px;
 top: 9px;
 width: 24px;
 height: 32px;
}
.App-body .Menu .logo a {
 display: block;
 width: 100%;
 height: 100%;
}
.App-body .Menu .logo img {
 display: block;
 width: 24px;
 height: 32px;
}
.App-body .Menu button {
 -webkit-appearance: none;
 display: inline-block;
 border: 0;
 background: 0;
 width: 30px;
 height: 23px;
 margin-top: 13px;
 margin-right: 20px;
 position: relative;
 transform: rotate(0deg);
 transition: .5s ease-in-out;
 cursor: pointer;
 outline: none;
}
.App-body .Menu button span {
 display: block;
 position: absolute;
 height: 4px;
 width: 100%;
 background: #fff;
 border-radius: 4px;
 opacity: 1;
 left: 0;
 transform: rotate(0deg);
 transition: .25s ease-in-out;
}
.App-body .Menu button span:nth-child(1) {
 top: 0;
}
.App-body .Menu button span:nth-child(2),
.App-body .Menu button span:nth-child(3) {
 top: 9px;
}
.App-body .Menu button span:nth-child(4) {
 top: 18px;
}
.App-body .Menu.active button span:nth-child(1) {
 top: 9px;
 width: 0;
 left: 50%;
}
.App-body .Menu.active button span:nth-child(2) {
 transform: rotate(45deg);
}
.App-body .Menu.active button span:nth-child(3) {
 transform: rotate(-45deg);
}
.App-body .Menu.active button span:nth-child(4) {
 top: 9px;
 width: 0;
 left: 50%;
}

.App-body .Menu ul {
 position: absolute;
 right: 0;
 top: 50px;
 padding: 14px 0;
 min-width: 250px;
 background: rgba(255,255,255,.95);
 box-shadow: -2px 2px 3px rgba(0,0,0,.6);
 visibility: hidden;
 opacity: 0;
 list-style: none;
 text-align: left;
 transition: .25s ease-in-out;
}
.App-body .Menu ul li {
 font-size: 28px;
 padding: 6px 20px;
}
.App-body .Menu ul li a {
 text-decoration: none;
 color: #000;
}
.App-body .Menu ul li a:hover {
 color: #666;
}
.App-body .Menu ul li.selected {
 /*background: #eee;*/
 font-style: italic;
}
.App-body .Menu ul li.selected a {
 /*color: #fff;*/
}
.App-body .Menu.active ul {
 visibility: visible;
 opacity: 1;
}

.App-body > .Chart {
 position: absolute;
 z-index: 1;
 left: 0;
 top: 50px;
 right: 0;
 bottom: 0;
}

.Box {
 display: flex;
}
.Box .BoxChart {
 height: 100%;
 flex: 1;
 position: relative;
}
.Box .BoxLabels {
 background: #FFF;
 padding: 16px 0;
 width: 360px;
 flex: none;
}
.Box .BoxLabels ul {
 list-style: none;
}
.Box .BoxLabels ul li {
 padding: 0 0 20px;
}
.Box .BoxLabels ul li .marker {
}
.Box .BoxLabels ul li .title {
 display: flex;
}
.Box .BoxLabels ul li .title i {
 display: inline-block;
 width: 30px;
 height: 30px;
 border: 1px #333 solid;
 box-sizing: border-box;
 align-self: flex-start;
}
.Box .BoxLabels ul li .name {
 font-size: 20px;
 line-height: 30px;
 margin: 0 10px;
 align-self: baseline;
}
.Box .BoxLabels ul li .percent {
 font-size: 16px;
 line-height: 30px;
 align-self: baseline;
}

.Box .BoxLabels ul li .data {
 display: flex;
}
.Box .BoxLabels ul li .value {
 font-size: 20px;
 line-height: 24px;
 margin-left: 40px;
 align-self: baseline;
 width: 160px;
}
.Box .BoxLabels ul li .value .measure {
 font-size: 16px;
}
.Box .BoxLabels ul li .delta {
 font-size: 16px;
 line-height: 24px;
 margin-left: 10px;
 align-self: baseline;
}
.Box .BoxLabels ul li .delta .good {
 color: #090;
}
.Box .BoxLabels ul li .delta .good:before {
 content: "+";
}
.Box .BoxLabels ul li .delta .bad {
 color: #D00;
}
.Box .BoxLabels ul li .delta .bad:before {
 content: "-";
}
.PieBox {
}
.PieBox .title {
 position: relative;
}
.PieBox .title button.toggleButton {
 -webkit-appearance: none;
 display: block;
 width: 24px;
 height: 24px;
 box-sizing: border-box;
 margin-left: 20px;
 border: none;
 background: none;
 /*border-radius: 15px;*/
 /*border: 1px #666 solid;*/
 outline: none;
 position: absolute;
 right: 8px;
 top: 0;
 cursor: pointer;
 /*background: pink;*/
}
.PieBox .title button.toggleButton:hover {
}
.PieBox .title button.toggleButton:before {
 content: "";
 display: block;
 width: 22px;
 height: 22px;
 border: 1px #333 solid;
 border-radius: 15px;
 position: absolute;
 left: 0;
 top: 0;
 background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIGhlaWdodD0iMzJweCIgaWQ9InN2ZzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgaWQ9ImJhY2tncm91bmQiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIvPjwvZz48ZyBpZD0iYXJyb3dfeDVGX2xlZnQiPjxwb2x5Z29uIHBvaW50cz0iMjIsMi4wMDEgOCwxNiAyMiwzMCAgIi8+PC9nPjwvc3ZnPg==");
 background-size: 20px 20px;
 background-position: 1px 1px;
 background-repeat: no-repeat;
 opacity: .3;
 transition: .2s;
}
.PieBox .title button.expanded:before {
 transform: rotate(90deg);
}
.PieBox .title button.collapsed:before {
 transform: rotate(-90deg);
}
.PieBox .details {
 padding-left: 40px;
 padding-bottom: 5px;
}
.PieBox .detail-row {
 display: flex;
 border-bottom: 1px #AAA dotted;
}
.PieBox .detail-row .label {
 align-self: baseline;
 font-size: 20px;
}
.PieBox .detail-row .subvalue {
 width: 170px;
 align-self: baseline;
 font-size: 20px;
}
.PieBox .detail-row .subvalue .measure {
 font-size: 16px;
}

.StaffBox {}
.StaffBox .BoxLabels {
 width: 240px;
 margin-left: 20px;
}
.StaffBox .BoxLabels ul li .icon {
}
.StaffBox .BoxLabels ul li .icon img {
 width: 48px;
 height: 48px;
}
.StaffBox .BoxLabels ul li .name {
 margin: 0;
}
.StaffBox .BoxLabels ul li .value {
 font-size: 24px;
 margin-left: 0;
 line-height: 42px;
}
.StaffBox .BoxLabels ul li .value .measure {
 font-size: 20px;
}

.PopupBox {
 position: fixed;
 z-index: 1000;
 left: 0;
 top: 50px;
 right: 0;
 bottom: 0;
 background: rgba(255,255,255,.85);
}
.PopupBox:hover {
}
.Popup {
 background: #FFF;
 width: 800px;
 margin: 40px auto;
 padding: 20px;
 box-shadow: 0 0 20px rgba(0,0,0,.6);
 position: relative;
}
.PopupClose {
 position: absolute;
 right: 20px;
 top: 24px;
 width: 24px;
 height: 24px;
 cursor: pointer;
}
.PopupClose img {
 display: block;
 width: 100%;
 height: 100%;
 opacity: .4;
 transition: all .5s ease-in;
}
.PopupClose img:hover {
 opacity: 1;
}
.Popup h3 {
 font-size: 28px;
 font-weight: normal;
 text-align: center;
 padding: 0 0 25px;
}
.Popup .pie {
 width: 400px;
 height: 400px;
 background: pink;
}
.Popup table {
 border-collapse: collapse;
 width: 100%;
}
.Popup td {
 border-top: 1px #ccc solid;
 font-size: 24px;
 padding: 15px 5px 15px 15px;
 text-align: right;
 /* padding-left: 10px; */
}
.Popup td:nth-child(1) {
 text-align: left;
 padding-left: 5px;
}
.Popup td span {
 font-size: 80%;
}
.Popup td span.up {
 color: #090;
}
.Popup td span.up:before {
 content: "+";
}
.Popup td span.down {
 color: #D00;
}
.Popup td span.down:before {
 content: "-";
}

/*
.App {
 text-align: center;
}

.App-logo {
 animation: App-logo-spin infinite 20s linear;
 height: 80px;
}

.App-header {
 background-color: #222;
 height: 150px;
 padding: 20px;
 color: white;
}

.App-title {
 font-size: 1.5em;
}

.App-intro {
 font-size: large;
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}
*/
